<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <!--JQuery-->
    <script src="../Scripts/jquery-1.9.1.js"></script>

    <!--BootStrap & FontAwsome-->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>
    <link href="../Content/font-awesome.css" rel="stylesheet" />

    <!--AngularTreeView Css-->
    <link href="../Scripts/angular-ui-tree.css" rel="stylesheet" />
    <link href="../Css/index.css" rel="stylesheet" />

    <!--Vue-->
    <script src="../Scripts/vue.js"></script>
    <script src="../Scripts/lodash.js"></script>
    <script src="../Scripts/vue-resource.js"></script>
    <script src="../Controllers/Vue/IndexVueController.js"></script>

    <!--Angular Scripts-->
    <script src="../Scripts/angular.js"></script>
    <script type="text/javascript" src="../Scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular-aria.min.js"></script>
    <script src="../Scripts/angular-ui-tree.js"></script>

    <!-- Please Wait - loader -->
    <link href="../Content/css/pleaseWait/please-wait.css" rel="stylesheet">
    <script type="text/javascript" src="../Content/css/pleaseWait/please-wait.min.js"></script>


    <!--Angular Module-->
    <script src="../app.js"></script>

    <!--Angular Controllers-->
    <script src="../Controllers/IndexAngularMoudle.js"></script>

    <!--Angular Services-->
    <script src="../Services/settingsService.js"></script>
    <script src="../Services/DALService.js"></script>

    <!--Angular Directives-->
    <script src="../Directives/HomePage/IndexNavBarDirective/indexNavBarDirective.js"></script>


</head>
<body ng-app="IndexApp" ng-controller="indexController">
    <div index-nav-bar-directive> </div>
</body>
</html>
